/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html,.reset{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*
Default Values:
baseline 22px
font-size 18px
line-height = baseline / font-size

Ready to Use:
/*| Copy from here */
/*| 0.6111111111em; /* 11 / 18 = 0.6111111111 */
/*| 1.2222222222em; /* 22 / 18 = 1.2222222222 */
/*| 2.4444444444em; /* 44 / 18 = 2.4444444444 */

/* Begin site styles below */
html {
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  font-family: "Titillium Web", sans-serif, Helvetica, Arial;
  background-color: black;
}

body {
  background-color: #e5e5e5;
}

header {
  background-color: black;
  padding-bottom: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
  padding-top: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
}

section {
  padding-left: 1.2222222222em;
  padding-right: 1.2222222222em;
}

h1 {
  color: red;
  font-size: 2.25em;
}

h2 {
  font-weight: bold;
  font-size: 1.5em; /* 27 / 18 = 1.5 */
  line-height: 1.2222222222em; /* 33 / 27 = 1.222 */
  padding-bottom: 0.407407407em; /* 11 / 27 */
}

h3 {
  font-weight: bold;
  font-size: 1.3333333333em; /* 24 / 18 = 1.3333333333 */
  line-height: 1.375em; /* 33 / 24 = 1.375 */
  padding-bottom: 0.9166666667em; /* 22 / 24 */
}

p {
  padding-bottom: 1.2222222222em;
}


footer {
  background-color: black;
  padding-bottom: 0.7em;
  padding-top: 0.7em;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a ul:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.hovereffect {
  background-color: white;
  margin: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  padding: 0;
}

img {
  width: 100%;
}

.red {
  color: #E91E63;
}

.white {
  color: white;
}

.colorRed {
  color: red;
}

.time {
  background-color: red;
  color: white;
  text-align: center;
}

.barcode {
  padding-top: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  font-size: 3.6666666667em; /* 66 / 18 = 3.6666666667 */
  font-family: "Libre Barcode 39", cursive;
}

#banner {
  background-image: url("medias/audio.jpg");
  color: white;
  padding-top: 6.1111111111em; /* 110 / 18 = 6.1111111111 */
  padding-bottom: 7.3333333333em; /* 132 / 18 = 7.3333333333 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#button {
  display: block;
  width: 11.1111111111em;
  background-color: red;
  padding-bottom: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
  padding-top: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
  text-align: center;
  border-radius: 0.27777777778em;
  color: white;
  font-weight: bold;
}

#seat-container {
  margin-top: 1.2222222222em;
  margin-bottom: 1.2222222222em;
}

#orderDetail,
#conformation {
  background-color: white;
  margin: 1.2222222222em;
}

#form-content {
  margin-top: 1.2222222222em;
}

.total {
  font-weight: bold;
}

.submitButton input {
  background-color: red;
  color: white;
  cursor: pointer;
}

#oneSeat {
  color: red;
}

.ticket-info li:last-child {
  padding-bottom: 1.8333333333em; /* 33 / 18 = 1.8333333333 */
}

#footer {
  color: red;
  text-align: center;
}

/* Seats */
.row1, .row2, .row3, .row4, .row5, .row6 {
  display: flex;
  flex-direction: row;
}
.rows {
  width: 15.725em;
  margin: 0 auto;
}
.rows h2 {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  text-align: center;
}
.hidden {
  display: none;
}
.individual {
  display: inline-block;
  width: 3.0555555556em; /* 3.0555555556em; /* 55 / 18 = 3.0555555556 */
  height: 3.0555555556em; /* 3.0555555556em; /* 55 / 18 = 3.0555555556 */
  text-align: center;
  border: 0.05em solid black;
  line-height: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  cursor: pointer;
}
.selected {
  background: red;
  color: white;
  transition: 0.5s;
}
.seat {
  display: flex;
  position: relative;
}

/* Payment */
#form-card label {
  display: block;
  margin-bottom: 0;
  line-height: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}
.submitButton input,
#form-card input {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
  height: 2.4444444444em; /* 44 / 18 = 2.4444444444 */
  border: 0;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 0;
}
#form-card ul li {
  padding-bottom: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}
.hasjs #input-email,
.hasjs #input-cardName,
.hasjs #input-cardNumber,
.hasjs #input-expDate,
.hasjs #input-billZip {
  position: relative;
}
.hasjs #input-email label,
.hasjs #input-cardName label,
.hasjs #input-cardNumber label,
.hasjs #input-expDate label,
.hasjs #input-billZip label {
  transition: top 0.6s;
  top: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
  position: absolute;
}
.hasjs #input-email label.active,
.hasjs #input-cardName label.active,
.hasjs #input-cardNumber label.active,
.hasjs #input-expDate label.active,
.hasjs #input-billZip label.active {
  top: -0.6111111111em; /* 11 / 18 = 0.6111111111 */
}

@media screen and (min-width: 600px) {
  #banner {
    padding-bottom: 12.2222222222em; /* 220 / 18 = 12.2222222222 */
    background-attachment: fixed;
  }
  #intro {
    width: 60%;
  }
  #eventlisting {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.3333333333em; /* 22 / 18 = 1.3333333333 */
    padding-bottom: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  }
}
@media screen and (min-width: 990px) {
  #eventlisting {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.33333em;
    padding-bottom: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  }
  #seat #content {
    display: flex;
    padding-bottom: 12.2222222em; /* 1.2222222222 * 10 */
  }
  #seat-container {
    width: 60%;
    align-items: left;
  }
  #orderDetail {
    width: 40%;
    align-items: right;
  }
  #payment-container {
    display: flex;
    padding-bottom: 12.2222222em; /* 1.2222222222 * 10 */
  }
  #conformation {
    width: 30%;
    align-items: right;
  }
  #form-content {
    width: 70%;
    align-items: left;
  }
}
@media screen and (min-width: 1400px) {

}
